urllib3
charset_normalizer
idna
certifi
pyaudio~=0.2.13
translate~=3.6.1
cffi
sounddevice~=0.4.6
config
gTTS
IPython
auto-gptq
transformers
pydub
py-cord[speed]
py-cord[voice]
py-cord
opencv-python
SpeechRecognition
requests
diffusers==0.21.2
transformers
imageio
imageio[ffmpeg]
moviepy
elevenlabs
gTTS
g4f==0.1.8
pycryptodome
curl_cffi
aiohttp
certifi
browser_cookie3
websockets
js2py
flask
flask-cors
typing-extensions
PyExecJS
duckduckgo-search
pytube
pyrubberband
bark
langdetect