urllib3
charset_normalizer
idna
certifi
pyaudio~=0.2.13
translate~=3.6.1
cffi
sounddevice~=0.4.6
discord.py[voice]> 2
discord > 2
config
gTTS
IPython
auto-gptq
transformers
pydub
py-cord[speed]
py-cord[voice]
py-cord
opencv-python
SpeechRecognition